<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/rocket.jpg" />
  <title>Contact</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
  <script>
		$(function(){
        $("#importNavbar").load("/resources/navbar.html");
    });
	</script>
</head>
<body>
  <div id="importNavbar"></div>
  
  
  <div>
    <br><br><br><br>
      <h1><span class="color-it-without-hover">Platforms</span></h1>
      

  </div>
  <br><br>

  <div id="places-grid" class="becenter">
    <a href="https://replit.com/@leafkn" target="_blank"><img src="/images/replitL.png"></a>
    <a href="https://github.com/knaagar" target="_blank"><img src="/images/Github-Mark.png"></a>
    <a href="https://www.khanacademy.org/profile/kaid_481697903688181525808339" target="_blank"><img src="/images/ka.png"></a>
    <a href="https://codepen.io/knaagar" target="_blank"><img src="/images/codepen.png" style="background: white;"></a>
    <a href="https://dev.to/knaagar" target="_blank"><img src="/images/dev.png" style="background:white;"></a>
    <a href="https://devpost.com/knaagar" target="_blank"><img src="/images/devpost.jpg"></a>

  </div>
<br><br><br>
 <div class="container" data-aos="fade-up" data-aos-duration="2000">
   <h1 class="tac"><span class="color-it-without-hover">Contact Me</span></h1>
   <br><br><br>
   <form id="contfo" method="POST" action = "send" enctype="multipart/form-data">
    <input type="text" placeholder="Your name" name="name">
    <br><br>
    <input type="text" placeholder="Your email" required name="email">
    <br><br>
    <input type="text" placeholder="Subject" name="subject">
    <br><br>
    <textarea placeholder="Your message..." required name="message"></textarea>
    <br><br>
    <button type="submit" value="submit">Done</button>
    <br><br><br>
   </form>
  <br><br>
  <br><br>
 </div>
 <h2 style="text-align: center;">Or shoot me an email on leafkn12@gmail.com</h2>
<br><br><br><br>
<script src="/scripts/mail.js"></script>
</body>
</html>