<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/rocket.jpg" />
  <title>Milestones</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js">
	</script>
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
  <script>
		$(function(){
        $("#importNavbar").load("/resources/navbar.html");
    });
	</script>
</head>
<body>
  <div id="importNavbar"></div>
  <button onclick="scrollBtn()" id="scroll-btn" title="Go to top">Top</button>
  <div class="landing">
    <br>
    <h1><span class="color-it-without-hover">Milestones</span></h1>
    <br><br>
    <div>
    </div>
  </div>
</body>
</html>