<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/rocket.jpg" />
  <title>Projects</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
		$(function(){
        $("#importNavbar").load("/resources/navbar.html");
    });
	</script>
</head>
<body>
  <div id="importNavbar"></div>
<div class="landing">
    <br>
    <h1><span class="color-it-without-hover">Projects</span></h1>
    <br><br>
    <div>
      <p>My cherished <span class="color-it-without-hover-2">creations</span></p>
    </div>
  </div>
  <br><br><br><br>

  <div id="projects" class="center" data-aos="fade-up">
    <h1>Projects<br><br><a class="color-it" style="color: #F29966 !important;" href="https://github.com/knaagar?tab=repositories">Github<br>Repos<br></a></h1>
  </div>
  <script src="/scripts/project.js"></script>
</body>
</html>