<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/jpg" href="/images/rocket.jpg" />
  <title>Skills</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
  <script>
		$(function(){
        $("#importNavbar").load("/resources/navbar.html");
    });
	</script>
</head>
<body>
    <div id="importNavbar"></div>
    <div class="landing">
        <br>
        <h1><span class="color-it-without-hover">Skills</span></h1>
        <br><br>
        <div>
          <p>Things I <span class="color-it-without-hover-2">know</span> and things I am <span class="color-it-without-hover-2">learning</span></p>
        </div>
      </div>
      <br><br>
      <div id="skills" class="grid-container" data-aos="fade-up"></div>
      <br><br>
      <script src="/scripts/skills.js"></script>
</body>
</html>